body {
    /* background-color: #638aeb; */
}

.divText{
    align-items: center;
    /* background-color: #638aeb; */
    /* height: calc(100vh - 56px); */
    /* padding-top: 500px;
    padding: 3; */
    margin-top: 70px;
}

.UCSBLogo {
    width: 500px;
}

.Scribble{
    width: 500px;

}


